{% include template_header.html %}
<div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-lg-8 col-12">
			<!--About section   -->
               <section class="latest section">
                    <div class="section-inner">
                        <div class="content">    
                                               
                            <!-- <hr class="divider" /> -->
                            
                            <div class="item row">
                                <a class="col-md-4 col-12" href="#" target="_blank">
                                <img class="img-fluid project-image" src="../media/planer-min.gif" alt="project name" />
                                </a>
                                <div class="desc col-md-8 col-12">
                                    <h3 class="title"><a href="#" target="_blank">Path Planning for 6 DoF Robotic Arm</a></h3>
                                    <p class="mb-2"> This project implement Expansive Space Trees (EST) path planner to plan collision-free motions of an UR5 robot using C++ and ROS Integrated planning simulation with ROS, rviz and MoveIt! the implementation won the Expert Challenge with high success rate for diffcult planning problem on real UR5 robot</p>
                                </div><!--//desc-->                          
                            </div><!--//item-->

                            <div class="item row">
                                <a class="col-md-4 col-6" href="https://github.com/bigdayangyu/ros2_tutorial" target="_blank">
                                <img class="img-fluid project-image" src="../media/maping.png" alt="project name" />
                                </a>
                                <div class="desc col-md-8 col-12">
                                    <h3 class="title"><a href="#" target="_blank">ROS2 Introduction and Robot SLAM demo</a></h3>
                                    <p class="mb-2">This tutorial gives an overview of ROS2 (Robotic Operating System) status with an example of SLAM implementation. In this guide, we discuss and evaluate some of its new features by implementing SLAM in ROS2 in simulation and on a real robot and these new features are briefly introduced and some are tested in this implementation.</p>
                                    <p><a class="more-link" href="https://github.com/bigdayangyu/ros2_tutorial" target="_blank"><i class="fas fa-external-link-alt"></i>Github for tutorial</a>
                                    <a class="more-link" href="https://github.com/bigdayangyu/kobuki_navigation" target="_blank"><i class="fas fa-external-link-alt"></i>Github for demo code</a></p>
                                </div><!--//desc-->                          
                            </div><!--//item-->
                            
                            <div class="item row">
                                <a class="col-md-4 col-12" href="https://github.com/bigdayangyu/UR5-project" target="_blank">
                                <img class="img-fluid project-image" src="../media/ur5.png" alt="project name" />
                                </a>
                                <div class="desc col-md-8 col-12">
                                    <h3 class="title"><a href="https://github.com/bigdayangyu/UR5-project" target="_blank">Program UR5 robot to complete a "place-and-draw" task</a></h3>
                                    <p class="mb-2">The project is to use the UR5 robot to complete a "place-and-draw" task using inverse kinematics joint angle control, using differential kinematics rate control, as well as Gradient-based control.</p>
                                   <!--  <p><a class="more-link" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devstudio-bootstrap-theme-for-web-development-agencies-and-developers/" target="_blank"><i class="fas fa-external-link-alt"></i>Find out more</a></p> -->
                                </div><!--//desc-->                          
                            </div><!--//item-->
                            
                             <div class="item row">
                                <a class="col-md-4 col-12" href="https://github.com/bigdayangyu/robot-car-project" target="_blank">
                                <img class="img-fluid project-image" src="../media/gimbal.png" alt="project name" />
                                </a>
                                <div class="desc col-md-8 col-12">
                                    <h3 class="title"><a href="http://gimbalonthecar.weebly.com" target="_blank">ROS based RC car with self-stabilized camera gimbal mounted</a></h3>
                                    <p class="mb-2">This RC car is armed with a stabilization platform for camera, to enhance the experience of comfortable and flexible video shooting. The car also has a 360 degree rotational robotic arm with four-bar mechanism to enable forward and backward motion, and provide extra degrees of freedom for camera shooting angle.</p>
                       
                                </div><!--//desc-->                          
                            </div><!--//item-->
                                                     
         
                            
                        </div><!--//content-->  
                    </div><!--//section-inner-->                
                </section><!--//section-->
                
                
            </div><!--//primary-->
            <div class="secondary col-lg-4 col-12">
           <aside class="info aside section">
              <div class="section-inner">
                  <h2 class="heading">Websites</h2>
                  <div class="content">
                      <ul class="list-unstyled">
                          <li><i class="fas fa-map-marker-alt"></i><span class="sr-only">Location:</span>Baltimore, MD, US</li>
                          <li><i class="fab fa-linkedin-in"></i><span class="sr-only">LinkedIn:</span><a href="https://www.linkedin.com/in/zhezoeli/">https://www.linkedin.com/in/zhezoeli/</a></li>
                          <li><i class="fas fa-link"></i><span class="sr-only">Website:</span><a href="https://bigdayangyu.github.io/">https://bigdayangyu.github.io/</a></li>
                      </ul>
                  </div><!--//content-->  
              </div><!--//section-inner-->                 
          </aside><!--//aside-->
                <!-- Skill section  -->
                <!-- Testimonial aside section  -->
                
            
                

                            
				<aside class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">Skills</h2>
                        <div class="content">
                            
                            <div class="skillset">
                               
                                <div class="item">
                                    <h3 class="level-title">Python &amp; C++<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to explain more about your skill level..."><i class="fas fa-info-circle"></i>Expert</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="96%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <div class="item">
                                    <h3 class="level-title">Matlab &amp; Simulink<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to explain more about your skill level..."><i class="fas fa-info-circle"></i>Expert</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="96%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <div class="item">
                                    <h3 class="level-title">ROS &amp; ROS2<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to explain more about your skill level..."><i class="fas fa-info-circle"></i>Expert</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="96%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <div class="item">
                                    <h3 class="level-title">Solidworks &amp; Machining<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to explain more about your skill level..."><i class="fas fa-info-circle"></i>Pro</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="85%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                            </div>              
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//section-->
                
   				<!-- Blog aside section  -->
         		<!-- Favorate music section  -->
                
         		<!-- Conference section  -->
                <!-- credits aside section -->
              
            </div><!--//secondary-->    
        </div><!--//row-->
    </div><!--//masonry-->


    <!-- Javascript -->          
    <script type="text/javascript" src="../TemplateAssets/plugins/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../TemplateAssets/plugins/popper.min.js"></script> 
    <script type="text/javascript" src="../TemplateAssets/plugins/bootstrap/js/bootstrap.min.js"></script>    
    <script type="text/javascript" src="../TemplateAssets/plugins/jquery-rss/dist/jquery.rss.min.js"></script> 
    <!-- github calendar plugin -->
    <script type="text/javascript" src="../TemplateAssets/plugins/github-calendar/dist/github-calendar.min.js"></script>
    <!-- github activity plugin -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
    <script type="text/javascript" src="../TemplateAssets/plugins/github-activity/github-activity-0.1.5.min.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="../TemplateAssets/js/main.js"></script>   
{% include myFooter.html %}