{% include template_header.html %}
<link rel="stylesheet" type="text/css" href="../css/resume.css" title="wsite-theme-css">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<div class="resume-wrapper">
	<section class="profile section-padding">
		<div class="container">
	     <div class="picture-resume-wrapper">
        <div class="picture-resume">
        <span><img src="../media/Avatar.JPG" alt="pic" style="width:88px;height:88px;"/></span>

        </div>

         <div class="clearfix"></div>
    </div>
     <div class="name-wrapper">
        <h1>Zoe Li</h1>
     </div>
      <div class="contact-presentation">
      	<p>I am a Robotics gradate student at Johns Hopkins University. I am seeking employment in Robotics, Software and Mechatronics filed </p>
      </div>

<!-- Education and contect  -->

          <aside class="education aside section">
        <div class="section-inner">
            <h2 class="heading">Education</h2>
            <div class="content">
                <div class="item">                      
                    <h3 class="title"><i class="fas fa-graduation-cap"></i> MSE Robotics</h3>
                    <h4 class="university">Johns Hopkins University<span class="year">(2020)</span></h4>
                </div><!--//item-->
                <div class="item">
                    <h3 class="title"><i class="fas fa-graduation-cap"></i> BS Mechanical Engineering</h3>
                    <h4 class="university">University of California, Berkeley <span class="year">(2017)</span></h4>
                </div><!--//item-->
            </div><!--//content-->
        </div><!--//section-inner-->
    </aside><!--//section-->


      
           <aside class="info aside section">
              <div class="section-inner">
                  <h2 class="heading sr-only">Basic Information</h2>
                  <div class="content">
                      <ul class="list-unstyled">
                          <li><i class="fas fa-map-marker-alt"></i><span class="sr-only">Location:</span>Baltimore, MD, US</li>
                          <li><i class="fab fa-linkedin-in"></i><span class="sr-only">LinkedIn:</span><a href="#">https://www.linkedin.com/in/zhezoeli/</a></li>
                          <li><i class="fas fa-link"></i><span class="sr-only">Website:</span><a href="#">https://https://bigdayangyu.github.io/</a></li>
                      </ul>
                  </div><!--//content-->  
              </div><!--//section-inner-->                 
          </aside><!--//aside-->




		</div> <!-- contrianer -->
	</section>
  
  <section class="experience section-padding">
  	<div class="container">
  		<h3 class="experience-title">Experience</h3>
      
      <div class="experience-wrapper">
      	<div class="company-wrapper clearfix">
      		<div class="experience-title">BSH(Bosch Siemens) Home Appliance</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">May. 2019 – Aug. 2019</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
      	</div>
        
        <div class="job-wrapper clearfix">
        	<div class="experience-title">Robotics Software Intern</div> <!-- JOB TITLE  -->
          <div class="company-description">
          	<p>
				I Worked with Bosch Engineers and contributed to ROS 2 (Robot Operating System) robot navigation open source community. I also created a ROS2 dashing beginner tutorial and a TurtleBot indoor SLAM demonstration package for beginners. I built simulation environment of Bosch Sunnyvale office space and home environment for algorithm validation. 
</p>  <!-- JOB DESCRIPTION  -->
          </div>
        </div>
        
        <div class="company-wrapper clearfix">
      		<div class="experience-title">Lin Engineering Inc.</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">Jan. 2018 – Jun. 2018</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
      	</div>
        
         <div class="job-wrapper clearfix">
        	<div class="experience-title">Application Engineer</div> <!-- JOB TITLE  -->
          <div class="company-description">
          	<p>I coordinated the communicate with customers and design detailed motor solutions for customer’s specific application, and provide technical support for custom application development. During my time at Lin Engineering, I prevented a major quality issue by performing failure analysis to returned merchandise, and coordinated multi-department investigation to improve manufacturing processes.</p>  <!-- JOB DESCRIPTION  -->
          </div>
        </div>
        
        <div class="company-wrapper clearfix">
      		<div class="experience-title">Mechanical Systems Control(MSC) Lab, UC Berkeley</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">May. 2016 – Dec. 2017</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
      	</div> 
        
         <div class="job-wrapper clearfix">
        	<div class="experience-title">Research Assistant </div> <!-- JOB TITLE  -->
          <div class="company-description">
          	<p>I developed autonomous RC car with collision avoidance functionality, and applied adaptive cruise control, path planning for the robot trajectory. I practiced sensor fusion and data processing for IMU, GPS and Lidar sensors. </p>   <!-- JOB DESCRIPTION  -->
          </div>
        </div>
        
      </div><!--Skill experience-->
      
<!--       <div class="section-wrapper clearfix">
      	<h3 class="section-title">Skills</h3>  
        	<ul>
        		<li class="skill-percentage">Python/C++/MATLAB/Simulink</li>
        		<li class="skill-percentage">ROS2/ ROS</li>
        		<li class="skill-percentage">PyTorch</li>
        		<li class="skill-percentage">Git</li>
        		<li class="skill-percentage">Solidworks</li>
        		<li class="skill-percentage">Machining</li>
            
        	</ul>
        
      </div>
      
      <div class="section-wrapper clearfix">
        <h3 class="section-title">Hobbies</h3>  <
        <p>Cooking </p>
        
        <p>Photography</p> 
      </div> -->
      
  	</div>
  </section>
  
  <div class="clearfix"></div>
</div>

{% include myFooter.html %}